/* header and nav layout */
header {
  --background-color: var(--cws-deep-blue);
  --header-padding-block: var(--gap-12);
  --logo-min-width: 222px;
  --pale-text-color: var(--grey-9);
  --text-color: var(--white);
  --text-contrast-color: var(--cws-neon);

  position: relative;
  z-index: 2;

  & ul {
    list-style: none;
  }

  & a {
    border-radius: var(--gap-4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    user-select: none;
  }

  & a:any-link, button {
    color: currentcolor;
  }

  & a:focus-visible {
    outline: var(--cws-neon) solid var(--border-width-m);
    outline-offset: var(--gap-4);
    text-decoration: none !important;
  }

  & a:hover,
  & a:active {
    color: var(--text-contrast-color);
    text-decoration: none;
  }

  & a[data-current="true"] {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--text-contrast-color);
    text-underline-offset: 8px;
    transition: text-decoration-color var(--transition-subtle);
  }
}

header .nav-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  width: 100%;
}

header nav {
  --header-padding-block: var(--gap-8);

  align-items: center;
  display: grid;
  grid-template-areas: 'hamburger brand tools';
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: var(--nav-height);
  flex-basis: 100%;
  height: var( --nav-height);
  justify-content: space-between;
  padding-block: 0;
  margin-inline: auto;
  max-width: calc(2000px + var(--container-padding) * 2);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (width <= 1140px) {
  header nav[aria-expanded='true'] {
    display: grid;
    grid-template-areas:
    'hamburger brand tools'
    'sections sections sections'
    'extras extras extras';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--nav-height) min-content min-content;
    min-height: 100dvh;
    overflow-y: auto;
    padding-block-end: 50px;

    & .nav-tools {
      visibility: hidden;
    }

    & .nav-extras {
      display: flex;
    }

    & .nav-hamburger {
      --hamburger-icon-url: url('../../icons/close.svg');
    }

    & .nav-item-menu[aria-expanded="true"] {
      display: grid;
    }

    &:has(.nav-item-menu[aria-expanded="true"]) {
      grid-template-areas:
    'hamburger brand tools'
    'menu menu menu';

      & .nav-root,
      & .nav-extras,
      & .nav-tools {
        display: none;
      }
    }

    & .nav-item-menu {
      &:has(.nav-item-menu__submenu[aria-expanded="true"]) {
        grid-template-areas: "submenu";
        grid-template-rows: 1fr;

        & > *:not(.nav-item-menu__submenu[aria-expanded="true"]) {
          display: none;
        }
      }
    }

    & .nav-root {
      display: block;
    }
  }
}

/* hamburger */
header .nav-hamburger {
  --icon-size: 24px;
  --icon-v-middle: calc(var(--icon-size) / 2);
  --hamburger-icon-url: url('../../icons/menu.svg');

  grid-area: hamburger;
  padding-block: var(--header-padding-block);

  & button {
    background-color: var(--white);
    cursor: pointer;
    display: inline-grid;
    height: var(--icon-size);
    transition: color var(--transition-subtle);
    vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
    width: calc(var(--icon-size) * 24 / 24);
    mask: var(--hamburger-icon-url) center / contain no-repeat;
    padding: 0;

    &:active,
    &:hover {
      background-color: var(--cws-neon);
    }

    &:focus-visible {
      outline: var(--cws-neon) solid var(--border-width-m);
      outline-offset: var(--gap-4);
      text-decoration: none !important;
    }
  }

  @media (width > 1140px) {
    display: none;
  }
}

header .nav-menu-items {
  display: flex;
  grid-area: menu;
  inset-block-start: var(--header-height);
  inset-inline: 0;
  justify-content: center;
  position: absolute;

  & .nav-item-menu {
    background-color: var(--background-color);
    display: none;
    grid-template-areas:
        "root-info"
        "link"
        "back"
        "menu";
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto 1fr;
    overflow: clip;
    width: 100vw;

    & > * {
      margin-inline: auto;
      max-width: calc(2000px + var(--container-padding) * 2);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
      width: 100%;
    }

    /* picture */
    & > div:first-child {
      --background-color: var(--cws-green);

      background-color: var(--background-color);
      color: var(--white);
      grid-area: root-info;
      padding-block: var(--gap-20) var(--gap-8);

      & picture {
        overflow: clip;
      }

      & picture,
      & img {
        display: block;
        max-width: 100%;
        width: 100%;
      }

      & img {
        border-radius: var(--border-radius-s);
        height: 120px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    /* link */
    & > div:nth-child(2) {
      --background-color: var(--cws-green);

      background-color: var(--background-color);
      grid-area: link;
      padding-block-end: var(--gap-8);

      & .button {
        background: none;
        border: none;
        padding: 0;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: var(--white);
      }
    }

    /* Back */
    & .nav-item-menu__back {
      grid-area: back;
      margin-block-end: var(--gap-20);
      padding-block-start: var(--gap-20);

      & button {
        border-radius: var(--border-radius-xs);
        display: flex;
        padding: 0;
        width: 100%;
      }

      & button:active,
      & button:hover {
        background: none;
        color: var(--text-contrast-color);
      }

      & button span::before {
        --icon-url: url('../../icons/arrow-right.svg');
        --icon-size: 24px;
        --icon-v-middle: calc(var(--icon-size) / 2);
        --mask: var(--icon-url) center / contain no-repeat;

        content: '';
        display: inline-grid;
        background-color: currentcolor;
        height: var(--icon-size);
        vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
        mask: var(--mask);
        width: calc(var(--icon-size) * 24 / 24);
        transform: rotate(180deg);
        margin-inline-end: var(--gap-8)
      }
    }

    /* Links */
    & > div:nth-child(4) {
      grid-area: menu;
    }

    & .nav-item-menu__submenu {
      display: none;
      grid-area: submenu;
      flex-direction: column;
      margin: 0;
      max-width: 100%;
      padding: 0;
      overflow: auto;
      max-height: calc(100dvh - var(--header-height));

      & > * {
        padding-inline: var(--container-padding);
        width: 100%;
      }
    }

    & .nav-item-menu__submenu__breadcrumb {
      background-color: var(--cws-green);
      padding: var(--gap-20) var(--container-padding);
      font-weight: 700;
    }

    & .nav-item-menu__submenu[aria-expanded="true"] {
      display: flex;
    }

    & a {
      display: flex;
    }

    & a.has-submenu::after {
      --icon-v-middle: calc(var(--icon-size) / 2);
      --icon-size: 32px;

      content: "";
      background-color: currentcolor;
      display: inline-grid;
      flex-shrink: 0;
      height: var(--icon-size);
      mask: url('../../icons/chevron-right.svg') center / contain no-repeat;
      vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
      width: calc(var(--icon-size) * 7 / 24);
    }
  }
}

header .nav-extras {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: var(--gap-20);
  padding: 0;
  margin-block-start: var(--gap-40);
  grid-area: extras;

  & .nav-legal-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-4) var(--gap-12);
  }

  & .nav-socials ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-16);
    justify-content: space-between;

    & a:focus-visible {
      color: var(--text-contrast-color);
      outline: none;
    }

    & li {
      display: inline-flex;
      line-height: 0;
    }

    & .icon {
      &::after {
        --icon-size: 24px;
        --icon-v-middle: calc(var(--icon-size) / 2);
        --mask: var(--icon-url) center / contain no-repeat;

        content: '';
        display: inline-grid;
        background-color: currentcolor;
        height: var(--icon-size);
        vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
        mask: var(--mask);
        width: calc(var(--icon-size) * 24 / 24);
      }

      & img {
        display: none;
      }

      &.icon-x {
        --icon-url: url('../../icons/x.svg');
      }

      &.icon-tiktok {
        --icon-url: url('../../icons/tiktok.svg');
      }

      &.icon-linkedin {
        --icon-url: url('../../icons/linkedin.svg');
      }

      &.icon-youtube {
        --icon-url: url('../../icons/youtube.svg');
      }
    }
  }
}

header .nav-tools {
  display: inline-flex;
  gap: var(--gap-20);
  grid-area: tools;
  justify-content: end;
  padding-block: var(--header-padding-block);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding-block: var(--header-padding-block);

  & p {
    border-radius: var(--gap-4);
  }

  & a {
    align-items: center;
    display: flex;
  }

  & .icon {
    height: 27px;
    width: var(--logo-min-width);
  }
}

/* sections */
header .nav-root {
  display: none;
  flex: 1 1 auto;
  grid-area: sections;
  max-height: calc(100vh - var(--header-height) - var(--fixed-bar-height));
  overflow: hidden auto;
  padding-block: var(--gap-20) 0;
  position: relative;
  transition: transform var(--transition-slow);
}

header .nav-menu-items ul,
header .nav-root ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
  font-size: 1.6667rem;
  line-height: 2.2222rem;
  font-weight: 300;
  list-style: none;
}

header .nav-root ul a::after {
  --icon-v-middle: calc(var(--icon-size) / 2);
  --icon-size: 32px;

  content: "";
  display: inline-grid;
  background-color: currentcolor;
  height: var(--icon-size);
  mask: url('../../icons/chevron-right.svg') center / contain no-repeat;
  vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
  width: calc(var(--icon-size) * 7 / 24);
}

@media (width >= 1140px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding-block: var(--header-padding-block);
  }

  header .nav-brand {
    padding: 0;
    margin-inline-end: var(--gap-40);
  }

  header .nav-brand .icon {
    height: 38px;
    min-width: var(--logo-min-width);
    width: 333px;
    padding: 0;
  }

  /* primary navigation links wrapper */
  header .nav-root {
    display: flex;
    flex: 1 1 auto;
    margin-right: var(--space-5);
    padding: 0;
    visibility: visible;

    & ul {
      flex-direction: row;
      gap: var(--gap-20);
    }

    & ul li {
      font-weight: 500;
    }

    & ul li a {
      font-size: 18px;
    }

    & ul a::after {
      display: none;
    }
  }

  header .nav-menu-items {
    max-width: calc(2000px + var(--container-padding) * 2);
    margin-inline: auto;
  }

  header .nav-menu-items .nav-item-menu {
    & .nav-item-menu__submenu {
      & > * {
        padding-inline: 0;
      }

      & ul {
        gap: var(--gap-8);

        & a {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }

    & .nav-item-menu__submenu__breadcrumb {
      display: none;
    }
  }

  header .nav-menu-items .nav-item-menu[aria-expanded="true"] {
    display: grid;
    grid-template-areas:
      "link menu submenu"
      "root-info menu submenu";
    grid-template-columns: min(35%, 350px) 35% 35%;
    grid-template-rows: auto 1fr;
    column-gap: var(--gap-56);
    max-width: calc(2000px + var(--container-padding) * 2);
    padding: var(--gap-40) var(--container-padding);

    /* picture */
    & > div:first-child {
      --background-color: var(--cws-deep-blue);

      background-color: var(--background-color);
      grid-area: root-info;
      margin-block: var(--gap-20);
      padding: 0;

      & img {
        aspect-ratio: 16 / 9;
        border-radius: var(--border-radius-m);
        width: 350px;
      }
    }

    /* link */
    & > div:nth-child(2) {
      --background-color: var(--cws-deep-blue);

      background-color: var(--background-color);
      padding: 0;

      & .button {
        font-size: 1.6667rem;
        line-height: 2.2222rem;
        font-weight: 300;
        list-style: none;

        &:focus-visible {
          outline: var(--cws-neon) solid var(--border-width-m);
          outline-offset: var(--gap-4);
          text-decoration: none !important;
        }

        &:hover,
        &:active {
          color: var(--text-contrast-color);
          text-decoration: none;
        }

        &::after {
          --icon-v-middle: calc(var(--icon-size) / 2);
          --icon-size: 32px;

          content: "";
          background-color: currentcolor;
          display: inline-grid;
          flex-shrink: 0;
          height: var(--icon-size);
          mask: url('../../icons/chevron-right.svg') center / contain no-repeat;
          vertical-align: calc(var(--vertical-middle-of-capital-letters) - var(--icon-v-middle));
          width: calc(var(--icon-size) * 7 / 24);
        }
      }
    }

    /* Back */
    & .nav-item-menu__back {
      display: none;
    }

    /* links */
    & > div:nth-child(4) {
      padding: 0;
    }
  }
}

